// config
@import './variables';

// layout
@import './reboot';
// mixin
@import './mixin';
// animation
@import './animatrion';
// button
@import '../components/Button/style';
// alert
@import '../components/Alert/style';
//menu
@import '../components/Menu/style';
// tabs
@import '../components/Tabs/style';
// Icon
@import '../components/Icon/style';
// Input
@import '../components/Input/style';
// AutoComplete
@import '../components/AutoComplete/style';
// Upload
@import '../components/Upload/style';
// Progress
@import '../components//Progress/style';

// story table
.info-table {
  width: 100%;
}
.info-table,
.info-table td,
.info-table th {
  border-collapse: collapse;
  border: 1px solid #cccccc;
  color: #444444;
  margin-top: 0.25rem;
  padding-right: 0.5rem;
  padding: 0.25rem;
  text-align: left;
  vertical-align: top;
}
.info-table-monospace {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-size: 0.88em;
}
